<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
</head>
<body>
    <ul>
        <li>
                <input type="text" id="registerName" placeholder="name">
        </li>
        <li>
                <input type="text" id="registerPassword" placeholder="password">
        </li>
        <li>
                <input type="text" id="registerEmail" placeholder="email">
        </li>
    </ul>
    <button>提交</button>
</body>
</html>